![](https://snag.gy/h9Xwf1.jpg)

<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Introduction to `pandas` üêº

_Authors: Tim Book, Jeff Hale_

---

`pandas` is the most popular python package for managing datasets and is used extensively by data scientists.

### Learning Objectives

- Understand when to use pandas.
- Understand DataFrames and Series.
- Explore data with pandas.
- Manipulate data with pandas.

<a id='introduction'></a>

### What is `pandas`?

---

- Data analysis library - **Panel data system** (doesn't actually have to do with the animal, sorry).
- Created by Wes McKinney and Open Sourced by AQR Capital Management, LLC 2009.
- Implemented in highly optimized Python/Cython (can use Fortran)
- Most ubiquitous tool used to start data analysis projects within the Python scientific ecosystem.

### Pandas Use Cases

---

- Cleaning data / Munging
- Exploratory Data Analysis (EDA)
- Structuring data for plots or tabular display
- Joining disparate sources
- Filtering, extracting, or transforming

## Importing the Terrific Trio
From here on out, we'll begin pretty much all of our notebooks with the following three imports.

* **pandas**: The library we'll be using to do pretty much all data manipulation.
* **numpy**: The library we'll need to do various other computations. Even if you don't think you'll need it to start, you'll probably end up using it later.
* **matplotlib**: The library we'll use most for plotting. More on this another day.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Return the pandas version

In [2]:
pd.__version__

'1.2.4'

In [3]:
!conda list

# packages in environment at C:\Users\Christopher.Doughty\Anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py38_0
alabaster                 0.7.12             pyhd3eb1b0_0
anaconda                  2021.05                  py38_0
anaconda-client           1.7.2                    py38_0
anaconda-navigator        2.0.3                    py38_0
anaconda-project          0.9.1              pyhd3eb1b0_1
anyio                     2.2.0            py38haa95532_2
appdirs                   1.4.4                      py_0
argh                      0.26.2                   py38_0
argon2-cffi               20.1.0           py38h2bbff1b_1
asn1crypto                1.4.0                      py_0
astroid                   2.5              py38haa95532_1
astropy                   4.2.1            py38h2bbff1b_1
async_generator           1.10               pyhd3eb1b0_0
atomicwrites              1.4.0                      py_0
attrs                     20.3.0             pyhd3eb1b0_0
autopep8                  1.5.6              pyhd3eb1b0_0
babel                     2.9.0              pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
backports                 1.0                pyhd3eb1b0_2
backports.functools_lru_cache 1.6.4              pyhd3eb1b0_0
backports.shutil_get_terminal_size 1.0.0              pyhd3eb1b0_3
backports.tempfile        1.0                pyhd3eb1b0_1
backports.weakref         1.0.post1                  py_1
bcrypt                    3.2.0            py38he774522_0
beautifulsoup4            4.9.3              pyha847dfd_0
bitarray                  1.9.2            py38h2bbff1b_1
bkcharts                  0.2                      py38_0
black                     19.10b0                    py_0
blas                      1.0                         mkl
bleach                    3.3.0              pyhd3eb1b0_0
blosc                     1.21.0               h19a0ad4_0
bokeh                     2.3.2            py38haa95532_0
boto                      2.49.0                   py38_0
bottleneck                1.3.2            py38h2a96729_1
brotli                    1.0.9                ha925a31_2
brotlipy                  0.7.0           py38h2bbff1b_1003
bzip2                     1.0.8                he774522_0
ca-certificates           2021.4.13            haa95532_1
certifi                   2020.12.5        py38haa95532_0
cffi                      1.14.5           py38hcd4344a_0
chardet                   4.0.0           py38haa95532_1003
charls                    2.2.0                h6c2663c_0
click                     7.1.2              pyhd3eb1b0_0
cloudpickle               1.6.0                      py_0
clyent                    1.2.2                    py38_1
colorama                  0.4.4              pyhd3eb1b0_0
comtypes                  1.1.9           py38haa95532_1002
conda                     4.10.1           py38haa95532_1
conda-build               3.21.4           py38haa95532_0
conda-content-trust       0.1.1              pyhd3eb1b0_0
conda-env                 2.6.0                         1
conda-package-handling    1.7.3            py38h8cc25b3_1
conda-repo-cli            1.0.4              pyhd3eb1b0_0
conda-token               0.3.0              pyhd3eb1b0_0
conda-verify              3.4.2                      py_1
console_shortcut          0.1.1                         4
contextlib2               0.6.0.post1                py_0
cryptography              3.4.7            py38h71e12ea_0
curl                      7.71.1               h2a8f88b_1
cycler                    0.10.0                   py38_0
cython                    0.29.23          py38hd77b12b_0
cytoolz                   0.11.0           py38he774522_0
dask                      2021.4.0           pyhd3eb1b0_0
dask-core                 2021.4.0           pyhd3eb1b0_0
decorator                 5.0.6              pyhd3eb1b0_0
defusedxml                0.7.1              pyhd3eb1b0_0
diff-match-patch          20200713                   py_0
distributed               2021.4.0         py38haa95532_0
docutils                  0.17             py38haa95532_1
entrypoints               0.3                      py38_0
et_xmlfile                1.0.1                   py_1001
fastcache                 1.1.0            py38he774522_0
filelock                  3.0.12             pyhd3eb1b0_1
flake8                    3.9.0              pyhd3eb1b0_0
flask                     1.1.2              pyhd3eb1b0_0
freetype                  2.10.4               hd328e21_0
fsspec                    0.9.0              pyhd3eb1b0_0
future                    0.18.2                   py38_1
get_terminal_size         1.0.0                h38e98db_0
gevent                    21.1.2           py38h2bbff1b_1
giflib                    5.2.1                h62dcd97_0
glob2                     0.7                pyhd3eb1b0_0
greenlet                  1.0.0            py38hd77b12b_2
h5py                      2.10.0           py38h5e291fa_0
hdf5                      1.10.4               h7ebc959_0
heapdict                  1.0.1                      py_0
html5lib                  1.1                        py_0
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha925a31_3
idna                      2.10               pyhd3eb1b0_0
imagecodecs               2021.3.31        py38h5da4933_0
imageio                   2.9.0              pyhd3eb1b0_0
imagesize                 1.2.0              pyhd3eb1b0_0
importlib-metadata        3.10.0           py38haa95532_0
importlib_metadata        3.10.0               hd3eb1b0_0
iniconfig                 1.1.1              pyhd3eb1b0_0
intel-openmp              2021.2.0           haa95532_616
intervaltree              3.1.0                      py_0
ipykernel                 5.3.4            py38h5ca1d4c_0
ipython                   7.22.0           py38hd4e2768_0
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipywidgets                7.6.3              pyhd3eb1b0_1
isort                     5.8.0              pyhd3eb1b0_0
itsdangerous              1.1.0              pyhd3eb1b0_0
jdcal                     1.4.1                      py_0
jedi                      0.17.2           py38haa95532_1
jinja2                    2.11.3             pyhd3eb1b0_0
joblib                    1.0.1              pyhd3eb1b0_0
jpeg                      9b                   hb83a4c4_2
json5                     0.9.5                      py_0
jsonschema                3.2.0                      py_2
jupyter                   1.0.0                    py38_7
jupyter-packaging         0.7.12             pyhd3eb1b0_0
jupyter_client            6.1.12             pyhd3eb1b0_0
jupyter_console           6.4.0              pyhd3eb1b0_0
jupyter_core              4.7.1            py38haa95532_0
jupyter_server            1.4.1            py38haa95532_0
jupyterlab                3.0.14             pyhd3eb1b0_1
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_server         2.4.0              pyhd3eb1b0_0
jupyterlab_widgets        1.0.0              pyhd3eb1b0_1
keyring                   22.3.0           py38haa95532_0
kiwisolver                1.3.1            py38hd77b12b_0
krb5                      1.18.2               hc04afaa_0
lazy-object-proxy         1.6.0            py38h2bbff1b_0
lcms2                     2.12                 h83e58a3_0
lerc                      2.2.1                hd77b12b_0
libaec                    1.0.4                h33f27b4_1
libarchive                3.4.2                h5e25573_0
libcurl                   7.71.1               h2a8f88b_1
libdeflate                1.7                  h2bbff1b_5
libiconv                  1.15                 h1df5818_7
liblief                   0.10.1               ha925a31_0
libpng                    1.6.37               h2a8f88b_0
libsodium                 1.0.18               h62dcd97_0
libspatialindex           1.9.3                h6c2663c_0
libssh2                   1.9.0                h7a1dbc1_1
libtiff                   4.2.0                hd0e1b90_0
libxml2                   2.9.10               hb89e7f3_3
libxslt                   1.1.34               he774522_0
libzopfli                 1.0.3                ha925a31_0
llvmlite                  0.36.0           py38h34b8924_4
locket                    0.2.1            py38haa95532_1
lxml                      4.6.3            py38h9b66d53_0
lz4-c                     1.9.3                h2bbff1b_0
lzo                       2.10                 he774522_2
m2w64-gcc-libgfortran     5.3.0                         6
m2w64-gcc-libs            5.3.0                         7
m2w64-gcc-libs-core       5.3.0                         7
m2w64-gmp                 6.1.0                         2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
markupsafe                1.1.1            py38he774522_0
matplotlib                3.3.4            py38haa95532_0
matplotlib-base           3.3.4            py38h49ac443_0
mccabe                    0.6.1                    py38_1
menuinst                  1.4.16           py38he774522_1
mistune                   0.8.4           py38he774522_1000
mkl                       2021.2.0           haa95532_296
mkl-service               2.3.0            py38h2bbff1b_1
mkl_fft                   1.3.0            py38h277e83a_2
mkl_random                1.2.1            py38hf11a4ad_2
mock                      4.0.3              pyhd3eb1b0_0
more-itertools            8.7.0              pyhd3eb1b0_0
mpmath                    1.2.1            py38haa95532_0
msgpack-python            1.0.2            py38h59b6b97_1
msys2-conda-epoch         20160418                      1
multipledispatch          0.6.0                    py38_0
mypy_extensions           0.4.3                    py38_0
navigator-updater         0.2.1                    py38_0
nbclassic                 0.2.6              pyhd3eb1b0_0
nbclient                  0.5.3              pyhd3eb1b0_0
nbconvert                 6.0.7                    py38_0
nbformat                  5.1.3              pyhd3eb1b0_0
nest-asyncio              1.5.1              pyhd3eb1b0_0
networkx                  2.5                        py_0
nltk                      3.6.1              pyhd3eb1b0_0
nose                      1.3.7           pyhd3eb1b0_1006
notebook                  6.3.0            py38haa95532_0
numba                     0.53.1           py38hf11a4ad_0
numexpr                   2.7.3            py38hb80d3ca_1
numpy                     1.20.1           py38h34a8a5c_0
numpy-base                1.20.1           py38haf7ebc8_0
numpydoc                  1.1.0              pyhd3eb1b0_1
olefile                   0.46                       py_0
openjpeg                  2.3.0                h5ec785f_1
openpyxl                  3.0.7              pyhd3eb1b0_0
openssl                   1.1.1k               h2bbff1b_0
packaging                 20.9               pyhd3eb1b0_0
pandas                    1.2.4            py38hd77b12b_0
pandoc                    2.12                 haa95532_0
pandocfilters             1.4.3            py38haa95532_1
paramiko                  2.7.2                      py_0
parso                     0.7.0                      py_0
partd                     1.2.0              pyhd3eb1b0_0
path                      15.1.2           py38haa95532_0
path.py                   12.5.0                        0
pathlib2                  2.3.5            py38haa95532_2
pathspec                  0.7.0                      py_0
patsy                     0.5.1                    py38_0
pep8                      1.7.1                    py38_0
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    8.2.0            py38h4fa10fc_0
pip                       21.0.1           py38haa95532_0
pkginfo                   1.7.0            py38haa95532_0
pluggy                    0.13.1           py38haa95532_0
ply                       3.11                     py38_0
powershell_shortcut       0.0.1                         3
prometheus_client         0.10.1             pyhd3eb1b0_0
prompt-toolkit            3.0.17             pyh06a4308_0
prompt_toolkit            3.0.17               hd3eb1b0_0
psutil                    5.8.0            py38h2bbff1b_1
ptyprocess                0.7.0              pyhd3eb1b0_2
py                        1.10.0             pyhd3eb1b0_0
py-lief                   0.10.1           py38ha925a31_0
pycodestyle               2.6.0              pyhd3eb1b0_0
pycosat                   0.6.3            py38h2bbff1b_0
pycparser                 2.20                       py_2
pycurl                    7.43.0.6         py38h7a1dbc1_0
pydocstyle                6.0.0              pyhd3eb1b0_0
pyerfa                    1.7.3            py38h2bbff1b_0
pyflakes                  2.2.0              pyhd3eb1b0_0
pygments                  2.8.1              pyhd3eb1b0_0
pylint                    2.7.4            py38haa95532_1
pyls-black                0.4.6                hd3eb1b0_0
pyls-spyder               0.3.2              pyhd3eb1b0_0
pynacl                    1.4.0            py38h62dcd97_1
pyodbc                    4.0.30           py38ha925a31_0
pyopenssl                 20.0.1             pyhd3eb1b0_1
pyparsing                 2.4.7              pyhd3eb1b0_0
pyqt                      5.9.2            py38ha925a31_4
pyreadline                2.1                      py38_1
pyrsistent                0.17.3           py38he774522_0
pysocks                   1.7.1            py38haa95532_0
pytables                  3.6.1            py38ha5be198_0
pytest                    6.2.3            py38haa95532_2
python                    3.8.8                hdbf39b2_5
python-dateutil           2.8.1              pyhd3eb1b0_0
python-jsonrpc-server     0.4.0                      py_0
python-language-server    0.36.2             pyhd3eb1b0_0
python-libarchive-c       2.9                pyhd3eb1b0_1
pytz                      2021.1             pyhd3eb1b0_0
pywavelets                1.1.1            py38he774522_2
pywin32                   227              py38he774522_1
pywin32-ctypes            0.2.0                 py38_1000
pywinpty                  0.5.7                    py38_0
pyyaml                    5.4.1            py38h2bbff1b_1
pyzmq                     20.0.0           py38hd77b12b_1
qdarkstyle                2.8.1                      py_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 1.0.2              pyhd3eb1b0_0
qtconsole                 5.0.3              pyhd3eb1b0_0
qtpy                      1.9.0                      py_0
regex                     2021.4.4         py38h2bbff1b_0
requests                  2.25.1             pyhd3eb1b0_0
rope                      0.18.0                     py_0
rtree                     0.9.7            py38h2eaa2aa_1
ruamel_yaml               0.15.100         py38h2bbff1b_0
scikit-image              0.18.1           py38hf11a4ad_0
scikit-learn              0.24.1           py38hf11a4ad_0
scipy                     1.6.2            py38h66253e8_1
seaborn                   0.11.1             pyhd3eb1b0_0
send2trash                1.5.0              pyhd3eb1b0_1
setuptools                52.0.0           py38haa95532_0
simplegeneric             0.8.1                    py38_2
singledispatch            3.6.1           pyhd3eb1b0_1001
sip                       4.19.13          py38ha925a31_0
six                       1.15.0           py38haa95532_0
snappy                    1.1.8                h33f27b4_0
sniffio                   1.2.0            py38haa95532_1
snowballstemmer           2.1.0              pyhd3eb1b0_0
sortedcollections         2.1.0              pyhd3eb1b0_0
sortedcontainers          2.3.0              pyhd3eb1b0_0
soupsieve                 2.2.1              pyhd3eb1b0_0
sphinx                    4.0.1              pyhd3eb1b0_0
sphinxcontrib             1.0                      py38_1
sphinxcontrib-applehelp   1.0.2              pyhd3eb1b0_0
sphinxcontrib-devhelp     1.0.2              pyhd3eb1b0_0
sphinxcontrib-htmlhelp    1.0.3              pyhd3eb1b0_0
sphinxcontrib-jsmath      1.0.1              pyhd3eb1b0_0
sphinxcontrib-qthelp      1.0.3              pyhd3eb1b0_0
sphinxcontrib-serializinghtml 1.1.4              pyhd3eb1b0_0
sphinxcontrib-websupport  1.2.4                      py_0
spyder                    4.2.5            py38haa95532_0
spyder-kernels            1.10.2           py38haa95532_0
sqlalchemy                1.4.7            py38h2bbff1b_0
sqlite                    3.35.4               h2bbff1b_0
statsmodels               0.12.2           py38h2bbff1b_0
sympy                     1.8              py38haa95532_0
tbb                       2020.3               h74a9793_0
tblib                     1.7.0                      py_0
terminado                 0.9.4            py38haa95532_0
testpath                  0.4.4              pyhd3eb1b0_0
textdistance              4.2.1              pyhd3eb1b0_0
threadpoolctl             2.1.0              pyh5ca1d4c_0
three-merge               0.1.1              pyhd3eb1b0_0
tifffile                  2021.4.8           pyhd3eb1b0_2
tk                        8.6.10               he774522_0
toml                      0.10.2             pyhd3eb1b0_0
toolz                     0.11.1             pyhd3eb1b0_0
tornado                   6.1              py38h2bbff1b_0
tqdm                      4.59.0             pyhd3eb1b0_1
traitlets                 5.0.5              pyhd3eb1b0_0
typed-ast                 1.4.2            py38h2bbff1b_1
typing_extensions         3.7.4.3            pyha847dfd_0
ujson                     4.0.2            py38hd77b12b_0
unicodecsv                0.14.1                   py38_0
urllib3                   1.26.4             pyhd3eb1b0_0
vc                        14.2                 h21ff451_1
vs2015_runtime            14.27.29016          h5e58377_2
watchdog                  1.0.2            py38haa95532_1
wcwidth                   0.2.5                      py_0
webencodings              0.5.1                    py38_1
werkzeug                  1.0.1              pyhd3eb1b0_0
wheel                     0.36.2             pyhd3eb1b0_0
widgetsnbextension        3.5.1                    py38_0
win_inet_pton             1.1.0            py38haa95532_0
win_unicode_console       0.5                      py38_0
wincertstore              0.2                      py38_0
winpty                    0.4.3                         4
wrapt                     1.12.1           py38he774522_1
xlrd                      2.0.1              pyhd3eb1b0_0
xlsxwriter                1.3.8              pyhd3eb1b0_0
xlwings                   0.23.0           py38haa95532_0
xlwt                      1.3.0                    py38_0
xmltodict                 0.12.0                     py_0
xz                        5.2.5                h62dcd97_0
yaml                      0.2.5                he774522_0
yapf                      0.31.0             pyhd3eb1b0_0
zeromq                    4.3.3                ha925a31_3
zfp                       0.5.5                hd77b12b_6
zict                      2.0.0              pyhd3eb1b0_0
zipp                      3.4.1              pyhd3eb1b0_0
zlib                      1.2.11               h62dcd97_4
zope                      1.0                      py38_1
zope.event                4.5.0                    py38_0
zope.interface            5.3.0            py38h2bbff1b_0
zstd                      1.4.5                h04227a9_0

What do those numbers mean?

That's the version. Semver. Semantic versioning. Major, minor, patch. https://semver.org/

### Why not just use Excel?

### Why not just use SQL?

<a id='loading_csvs'></a>

### Loading a csv file into a DataFrame

---

Pandas can load many types of files, but one of the most common filetypes for storing data is in a `.csv` file. 

What does `CSV` stand for?

What does a `CSV` look like?

#### Let's load a dataset on Austin airbnb listings from the `./datasets` directory:

> __Pro tip__:  You can use the `tab` key to browse filesystem resources when your cursor is in a string to get a relative reference to the files that can be loaded in Jupyter notebook.  Remember, you have to use your arrow keys to navigate the files populated in the UI. 

<img src="https://snag.gy/IlLNm9.jpg">

In [4]:
airbnb = pd.read_csv("./datasets/airbnb_listings.csv")

The file doesn't have to end in a .csv. It just needs to be values separated by commas (or some other character).

In [5]:
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.277520,-97.713770,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.276140,-97.713200,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.248850,-97.735870,Entire home/apt,104,30,117,2021-04-02,1.31,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,50899252,Stay in a place of your own | 1BR in Austin,359036978,Shelby,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
10346,50899636,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
10347,50899637,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365
10348,50901766,Mid-Century on a corner lot with fenced yard,80406,Dani,NaN,78704,30.241941,-97.742844,Entire home/apt,199,7,0,NaN,NaN,12,63
10349,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,Deacon,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

In [6]:
type(airbnb)

pandas.core.frame.DataFrame

This creates a pandas object called a **DataFrame**. These are powerful containers for data with many built-in functions to explore and manipulate data.

We will barely scratch the surface of DataFrame functionality in this lesson, but over the course of this class you will become an expert at using them.

<a id='exploring_data'></a>

## Exploratory Data Analysis (EDA) with Python!

---

DataFrames come with built-in functionality that makes data exploration easy. 

Let's start by looking at the "head" of your data with the `.head()` built-in method. If run alone in a notebook cell, it will show you the first and last handful of columns and the first 5 rows.

In [7]:
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0

In [8]:
airbnb.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0
5,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,149,3,245,2021-05-21,2.04,1,145
6,21126,Quiet Mid Century Modern Retreat with Patio an...,80406,Dani,NaN,78704,30.24417,-97.73988,Entire home/apt,202,1,123,2021-06-12,2.12,12,99
7,22166,Close in Hill country views NW,84906,Stacey,NaN,78759,30.38794,-97.76358,Entire home/apt,153,30,11,2021-01-10,0.08,1,225
8,22828,Garage Apartment near S Congress,56488,David,NaN,78741,30.23614,-97.73225,Entire home/apt,58,31,42,2021-06-01,0.32,1,207
9,40285,"OUTDOOR LIVING IN AUSTIN, TX",170787,Robbie,NaN,78731,30.35123,-97.76207,Entire home/apt,350,2,32,2021-04-18,0.30,1,249

If we want to see the last part of our data, use the ```.tail()``` method.

In [9]:
airbnb.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
10345,50899252,Stay in a place of your own | 1BR in Austin,359036978,Shelby,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
10346,50899636,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
10347,50899637,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365
10348,50901766,Mid-Century on a corner lot with fenced yard,80406,Dani,NaN,78704,30.241941,-97.742844,Entire home/apt,199,7,0,NaN,NaN,12,63
10349,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,Deacon,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

<a id='data_dimensions'></a>

### Data dimensions

---

It's good to look at what the dimensions of your data are. The ```.shape``` property will tell you the rows and colum counts of your DataFrame.

In [ ]:
airbnb.shape

What type of Python object is `df.shape`?

In [10]:
type(airbnb.shape)

tuple

NumPy nd.arrays also have a `shape`. Pandas data structures are built on numpy arrays. They share many of the same methods.

Look at the names of your columns with the ```.columns``` property.

In [11]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [12]:
list(airbnb.columns)

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Access a specific column with `just the bracket syntax`. It's like accessing a Python dictionary value.

In [13]:
airbnb["host_name"]

0            Paddy
1            Paddy
2           Sylvia
3        Elizabeth
4             Todd
           ...
10345       Shelby
10346       Shelby
10347       Shelby
10348         Dani
10349       Deacon
Name: host_name, Length: 10350, dtype: object

You will sometimes see folks do this...

In [14]:
airbnb.host_name

0            Paddy
1            Paddy
2           Sylvia
3        Elizabeth
4             Todd
           ...
10345       Shelby
10346       Shelby
10347       Shelby
10348         Dani
10349       Deacon
Name: host_name, Length: 10350, dtype: object

In [15]:
airbnb["host_name"].tail(10)

10340    National Corporate Housing-Houston
10341                         Hush Getaways
10342                     Stay Local Austin
10343                                Shelby
10344                                Shelby
10345                                Shelby
10346                                Shelby
10347                                Shelby
10348                                  Dani
10349                                Deacon
Name: host_name, dtype: object

### The index 

The index isn't a column.

In [16]:
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329

If you want to access the index attribute do this:

In [17]:
airbnb.index

RangeIndex(start=0, stop=10350, step=1)

You can move a column into the index with the `set_index()` method.

In [18]:
airbnb.set_index("id")

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.277520,-97.713770,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.276140,-97.713200,Private room,114,30,9,2017-02-24,0.22,3,0
5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,39,1,264,2021-07-03,6.42,1,30
6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.248850,-97.735870,Entire home/apt,104,30,117,2021-04-02,1.31,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50899252,Stay in a place of your own | 1BR in Austin,359036978,Shelby,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
50899636,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
50899637,Brilliant apartment home | 1BR in Austin,359036978,Shelby,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365
50901766,Mid-Century on a corner lot with fenced yard,80406,Dani,NaN,78704,30.241941,-97.742844,Entire home/apt,199,7,0,NaN,NaN,12,63
50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,Deacon,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

# Is it gone?

In [19]:
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0

###  Inplace Methods!
Most DataFrame methods that don't "stick" unless you tell them to. These methods will always have `inplace=False` by default. If you want to run a method and have it "stick" - assign `inplace=True`.

For example...

In [20]:
airbnb.set_index("id", inplace=True)

In [21]:
airbnb.head(3)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329

In [22]:
airbnb.reset_index(inplace=True)

In [23]:
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0

What type of object is the index of the DataFrame?

In [24]:
type(airbnb.index)

pandas.core.indexes.range.RangeIndex

Make it a list

In [25]:
list(airbnb.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

#### Hide the output.

<a id='dataframe_series'></a>

### List vs Numpy Array vs Dataframe

---
![](./assets/list_array_df.png)

<a id='dataframe_series'></a>

### DataFrame vs. Series

---

We've been playing with them, so I guess we should define them formally:

* A **`Series`** is a one-dimensional array of values **with an index**.
* A **`DataFrame`** is a two-dimensional array of values **with both a row and column index**.
* It turns out - each column of a `DataFrame` is actually a `Series`!

![](./assets/series-vs-df.png)

In [26]:
airbnb["name"]

0         Zen-East in the Heart of Austin (monthly rental)
1        Eco friendly, Colorful, Clean, Cozy monthly share
2                Walk to 6th, Rainey St and Convention Ctr
3                                           NW Austin Room
4                            Gem of a Studio near Downtown
                               ...
10345          Stay in a place of your own | 1BR in Austin
10346             Brilliant apartment home | 1BR in Austin
10347             Brilliant apartment home | 1BR in Austin
10348         Mid-Century on a corner lot with fenced yard
10349     Poolside Fun close to Downtown Sleeps 8 w/6 beds
Name: name, Length: 10350, dtype: object

We can also use the ```.head()``` function on a single column, which is a pandas Series object.

In [27]:
airbnb["name"].head()

0     Zen-East in the Heart of Austin (monthly rental)
1    Eco friendly, Colorful, Clean, Cozy monthly share
2            Walk to 6th, Rainey St and Convention Ctr
3                                       NW Austin Room
4                        Gem of a Studio near Downtown
Name: name, dtype: object

In [28]:
type(airbnb["name"])

pandas.core.series.Series

You can also access a column (__as a DataFrame instead of a Series__) or multiple columns with a list of column names.

In [29]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [31]:
airbnb[['name', 'neighbourhood']]

                                                    name  neighbourhood
0       Zen-East in the Heart of Austin (monthly rental)          78702
1      Eco friendly, Colorful, Clean, Cozy monthly share          78702
2              Walk to 6th, Rainey St and Convention Ctr          78702
3                                         NW Austin Room          78729
4                          Gem of a Studio near Downtown          78704
...                                                  ...            ...
10345        Stay in a place of your own | 1BR in Austin          78745
10346           Brilliant apartment home | 1BR in Austin          78729
10347           Brilliant apartment home | 1BR in Austin          78729
10348       Mid-Century on a corner lot with fenced yard          78704
10349   Poolside Fun close to Downtown Sleeps 8 w/6 beds          78705

[10350 rows x 2 columns]

You can also access a column (as a DataFrame instead of a Series) or multiple columns with a list of strings.

In [32]:
list_of_columns = ['name', 'neighbourhood', 'room_type']

In [33]:
airbnb[list_of_columns]

,name,neighbourhood,room_type
0,Zen-East in the Heart of Austin (monthly rental),78702,Entire home/apt
1,"Eco friendly, Colorful, Clean, Cozy monthly share",78702,Private room
2,"Walk to 6th, Rainey St and Convention Ctr",78702,Entire home/apt
3,NW Austin Room,78729,Private room
4,Gem of a Studio near Downtown,78704,Entire home/apt
...,...,...,...
10345,Stay in a place of your own | 1BR in Austin,78745,Entire home/apt
10346,Brilliant apartment home | 1BR in Austin,78729,Entire home/apt
10347,Brilliant apartment home | 1BR in Austin,78729,Entire home/apt
10348,Mid-Century on a corner lot with fenced yard,78704,Entire home/apt
10349,Poolside Fun close to Downtown Sleeps 8 w/6 beds,78705,Entire home/apt

<a id='info'></a>

### Examine your data with `.info()`

---

The `.info()` should be the first thing you look at when getting acquainted with a new dataset.

**Types** are very important.  They impact the way data will be represented in our machine learning models, how data can be joined, whether or not math operators can be applied, and when you can encounter unexpected results.

> _Typical problems when working with new datasets_:
> - Missing values
> - Unexpected types (string/object instead of int/float)
> - Dirty data (commas, dollar signs, unexpected characters, etc)
> - Blank values that are actually "non-null" or single white-space characters

`.info()` is a function that is available on every **DataFrame** object. It gives you information about:

- Name of column / variable attribute
- Type of index (RangeIndex is default)
- Count of non-null values by column / attribute
- Type of data contained in column / attribute
- Unqiue counts of dtypes (Pandas data types)
- Memory usage of our dataset

In [34]:
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329

In [36]:
airbnb.shape

(10350, 16)

In [35]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10350 entries, 0 to 10349
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10350 non-null  int64
 1   name                            10350 non-null  object
 2   host_id                         10350 non-null  int64
 3   host_name                       10334 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   10350 non-null  int64
 6   latitude                        10350 non-null  float64
 7   longitude                       10350 non-null  float64
 8   room_type                       10350 non-null  object
 9   price                           10350 non-null  int64
 10  minimum_nights                  10350 non-null  int64
 11  number_of_reviews               10350 non-null  int64
 12  last_review                     7944 non-null   object
 13  reviews_per_month               7944 non-null   float64
 14  calculated_host_listings_count  10350 non-null  int64
 15  availability_365                10350 non-null  int64
dtypes: float64(4), int64(8), object(4)
memory usage: 1.3+ MB

#### What do you see?

<a id='describe'></a>

## Quick Summaries

---

The `.describe()` function is very useful for taking a quick look at your data. It gives you some of the basic descriptive statistics.

You can use `.value_counts()` to get a good tabular view of a categorical variable.

#### Let's describe the df

In [37]:
airbnb.describe()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.035000e+04,1.035000e+04,0.0,10350.000000,10350.000000,10350.000000,10350.000000,10350.000000,10350.000000,7944.000000,10350.000000,10350.000000
mean,2.836757e+07,9.792277e+07,NaN,78723.159420,30.279833,-97.752227,277.324831,7.714396,32.915652,2.485487,10.415652,116.768889
std,1.608979e+07,1.118991e+08,NaN,20.805698,0.059749,0.059600,546.320050,24.376424,69.867453,6.855260,27.583589,130.627737
min,2.265000e+03,2.300000e+01,NaN,78701.000000,30.078870,-98.056630,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.504138e+07,1.170741e+07,NaN,78704.000000,30.244343,-97.769207,90.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,2.888472e+07,4.744496e+07,NaN,78722.000000,30.269655,-97.744630,150.000000,2.000000,6.000000,0.900000,1.000000,64.000000
75%,4.351866e+07,1.498711e+08,NaN,78745.000000,30.302877,-97.720460,275.000000,3.000000,30.000000,2.510000,4.000000,233.000000
max,5.090360e+07,4.110306e+08,NaN,78759.000000,30.515090,-97.560620,16845.000000,1100.000000,917.000000,250.000000,158.000000,365.000000

In [38]:
airbnb.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329

```.describe()``` gives us these statistics:

- **count**, which is equivalent to the number of cells (rows)
- **mean**, the average of the values in the column
- **std**, which is the standard deviation
- **min**, the minimum value
- **25%**, the 25th percentile of the values 
- **50%**, the 50th percentile of the values, which is the equivalent to the median
- **75%**, the 75th percentile of the values
- **max**, the maximum value

#### What's missing?

To include strings add arg include='all'

In [39]:
airbnb.describe(include = 'all')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,1.035000e+04,10350,1.035000e+04,10334,0.0,10350.000000,10350.000000,10350.000000,10350,10350.000000,10350.000000,10350.000000,7944,7944.000000,10350.000000,10350.000000
unique,NaN,9994,NaN,2745,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,1234,NaN,NaN,NaN
top,NaN,"Clean, cozy place of your own | 1BR in Austin",NaN,Shelby,NaN,NaN,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2021-07-05,NaN,NaN,NaN
freq,NaN,23,NaN,164,NaN,NaN,NaN,NaN,8168,NaN,NaN,NaN,525,NaN,NaN,NaN
mean,2.836757e+07,NaN,9.792277e+07,NaN,NaN,78723.159420,30.279833,-97.752227,NaN,277.324831,7.714396,32.915652,NaN,2.485487,10.415652,116.768889
std,1.608979e+07,NaN,1.118991e+08,NaN,NaN,20.805698,0.059749,0.059600,NaN,546.320050,24.376424,69.867453,NaN,6.855260,27.583589,130.627737
min,2.265000e+03,NaN,2.300000e+01,NaN,NaN,78701.000000,30.078870,-98.056630,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000
25%,1.504138e+07,NaN,1.170741e+07,NaN,NaN,78704.000000,30.244343,-97.769207,NaN,90.000000,1.000000,1.000000,NaN,0.190000,1.000000,0.000000
50%,2.888472e+07,NaN,4.744496e+07,NaN,NaN,78722.000000,30.269655,-97.744630,NaN,150.000000,2.000000,6.000000,NaN,0.900000,1.000000,64.000000
75%,4.351866e+07,NaN,1.498711e+08,NaN,NaN,78745.000000,30.302877,-97.720460,NaN,275.000000,3.000000,30.000000,NaN,2.510000,4.000000,233.000000
max,5.090360e+07,NaN,4.110306e+08,NaN,NaN,78759.000000,30.515090,-97.560620,NaN,16845.000000,1100.000000,917.000000,NaN,250.000000,158.000000,365.000000

#### Checking unique values

In [40]:
airbnb.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [41]:
airbnb['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Hotel room', 'Shared room'],
      dtype=object)

In [42]:
airbnb['room_type'].nunique()

4

#### Let's count up the room_type values

In [44]:
airbnb['room_type'].value_counts()

Entire home/apt    8168
Private room       2050
Shared room         121
Hotel room           11
Name: room_type, dtype: int64

#### Let's do the same thing, but show the percentages for each value

In [45]:
airbnb['room_type'].value_counts(normalize = True)

Entire home/apt    0.789179
Private room       0.198068
Shared room        0.011691
Hotel room         0.001063
Name: room_type, dtype: float64

There are built-in math methods that will work on all of the columns of a DataFrame at once.

For example, I can use the `.mean()` method on the `Airbnb` DataFrame to get the mean for every column.

In [46]:
airbnb.mean()

id                                2.836757e+07
host_id                           9.792277e+07
neighbourhood_group                        NaN
neighbourhood                     7.872316e+04
latitude                          3.027983e+01
longitude                        -9.775223e+01
price                             2.773248e+02
minimum_nights                    7.714396e+00
number_of_reviews                 3.291565e+01
reviews_per_month                 2.485487e+00
calculated_host_listings_count    1.041565e+01
availability_365                  1.167689e+02
dtype: float64

In [47]:
airbnb['price'].mean()

277.3248309178744

In [48]:
round(airbnb['price'].mean(), 2)

277.32

Median

In [49]:
airbnb['price'].median()

150.0

Mode

In [50]:
airbnb['price'].mode()

0    150
dtype: int64

Standard deviation

In [51]:
airbnb['price'].std()

546.3200503744582

Variance

In [52]:
airbnb['price'].var()

298465.5974411506

## Filtering
We usually don't need to operate on the _whole_ dataset. A very common task is to parse it down to only the pieces we need.

#### Make a DataFrame 
(we'll talk more about making DataFrames in a bit)

In [53]:
df = pd.DataFrame(dict(hats = [7, 7.5, 7.25, 7, 8, 6.75]))

In [54]:
df

   hats
0  7.00
1  7.50
2  7.25
3  7.00
4  8.00
5  6.75

#### Make a boolean mask

A mask is an iterable (such as a list) of `True` and `False` for filtering. Must be the same length as the thing you're filtering.

In [55]:
mask = [True, False, False, True, False, True]
mask

[True, False, False, True, False, True]

Select only the rows that match `True` by using the mask variable in the square brackets.

In [56]:
df[mask]

   hats
0  7.00
3  7.00
5  6.75

#### We can make a boolean mask like this

#### So let's cut out a step

In [57]:
df

   hats
0  7.00
1  7.50
2  7.25
3  7.00
4  8.00
5  6.75

In [58]:
df['hats'] <= 7

0     True
1    False
2    False
3     True
4    False
5     True
Name: hats, dtype: bool

In [60]:
df[df['hats'] <= 7]

   hats
0  7.00
3  7.00
5  6.75

#### Slack: In one line, filter the airbnb DataFrame to only show rows where `minimum_nights < 5`.

In [64]:
airbnb['minimum_nights'] < 5

0        False
1        False
2         True
3         True
4        False
         ...
10345    False
10346    False
10347    False
10348    False
10349     True
Name: minimum_nights, Length: 10350, dtype: bool

In [65]:
airbnb[airbnb['minimum_nights'] < 5]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,39,1,264,2021-07-03,6.42,1,30
5,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.260340,-97.764870,Entire home/apt,149,3,245,2021-05-21,2.04,1,145
6,21126,Quiet Mid Century Modern Retreat with Patio an...,80406,Dani,NaN,78704,30.244170,-97.739880,Entire home/apt,202,1,123,2021-06-12,2.12,12,99
9,40285,"OUTDOOR LIVING IN AUSTIN, TX",170787,Robbie,NaN,78731,30.351230,-97.762070,Entire home/apt,350,2,32,2021-04-18,0.30,1,249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10338,50892412,Bedroom in Artsy Austin Home,17790513,Laura,NaN,78744,30.197100,-97.731080,Private room,21,2,0,NaN,NaN,1,9
10340,50894161,Great 3bed/2bath apt. 15 min from downtown ATX!,22647318,National Corporate Housing-Houston,NaN,78735,30.249529,-97.847100,Entire home/apt,61,3,0,NaN,NaN,9,0
10341,50896316,Downtown Austin Group Rental/Remote Working Condo,3464494,Hush Getaways,NaN,78703,30.268155,-97.752243,Entire home/apt,378,1,0,NaN,NaN,1,90
10342,50896809,East Austin Contemporary with Rooftop Lounge,18253226,Stay Local Austin,NaN,78702,30.275786,-97.721051,Entire home/apt,411,2,0,NaN,NaN,31,102
10349,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,Deacon,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

Filtering in pandas uses vectors of booleans to describe inclusion or exclusion. `True` means you're in, `False` means you're out. üòÄ

### Multiple Filters
Often we want to filter based on multiple conditions. We can use the usual "and" and "or" logic, but in Pandas the symbols change for mystical (read: annoying) Python reasons.

#### For "and" logic - use ampersand (&) 

Let's try and find all of the listings that have fewer than 5 minimum nights and is less than $100 per night

In [69]:
airbnb[(airbnb['minimum_nights'] < 5) & (airbnb['price'] < 100)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,39,1,264,2021-07-03,6.42,1,30
18,72833,"Private Cottage in Central, Quiet Neighborhood",378744,Ellen And Andy,NaN,78731,30.313000,-97.750660,Entire home/apt,97,3,367,2021-06-28,8.80,1,76
22,74318,Private Guest House 78704,387918,Amy & Justin,NaN,78704,30.244730,-97.779230,Entire home/apt,96,2,224,2021-05-16,2.50,1,312
42,83643,Fun Central Austin Convenience,456230,Michele,NaN,78752,30.323950,-97.718510,Private room,52,2,196,2021-07-06,3.91,1,340
43,84771,Campus Retreat,321037,Lucien,NaN,78705,30.293860,-97.741880,Entire home/apt,81,2,16,2018-01-03,0.37,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10331,50873115,Centrally Located Condo with Pool,33119783,Greer,NaN,78722,30.283279,-97.715843,Entire home/apt,75,1,0,NaN,NaN,1,221
10333,50874888,Beautiful new residential home in SouthEast Au...,54487965,Hannah,NaN,78744,30.168858,-97.697112,Private room,44,1,0,NaN,NaN,1,355
10335,50891804,Private bed and bath near Samsung on own floor,281887,Disney,NaN,78754,30.350449,-97.613528,Private room,60,3,0,NaN,NaN,2,0
10338,50892412,Bedroom in Artsy Austin Home,17790513,Laura,NaN,78744,30.197100,-97.731080,Private room,21,2,0,NaN,NaN,1,9
10340,50894161,Great 3bed/2bath apt. 15 min from downtown ATX!,22647318,National Corporate Housing-Houston,NaN,78735,30.249529,-97.847100,Entire home/apt,61,3,0,NaN,NaN,9,0

Note - parentheses mandatory!

#### For "or" logic - use pipe (|)

Let's find all listings that are private rooms or has a minimum number of nights less than 5.

In [70]:
airbnb[(airbnb['minimum_nights'] < 5) | (airbnb['room_type'] == 'Private room')]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.276140,-97.713200,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.260570,-97.734410,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.456970,-97.784220,Private room,39,1,264,2021-07-03,6.42,1,30
5,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.260340,-97.764870,Entire home/apt,149,3,245,2021-05-21,2.04,1,145
6,21126,Quiet Mid Century Modern Retreat with Patio an...,80406,Dani,NaN,78704,30.244170,-97.739880,Entire home/apt,202,1,123,2021-06-12,2.12,12,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10338,50892412,Bedroom in Artsy Austin Home,17790513,Laura,NaN,78744,30.197100,-97.731080,Private room,21,2,0,NaN,NaN,1,9
10340,50894161,Great 3bed/2bath apt. 15 min from downtown ATX!,22647318,National Corporate Housing-Houston,NaN,78735,30.249529,-97.847100,Entire home/apt,61,3,0,NaN,NaN,9,0
10341,50896316,Downtown Austin Group Rental/Remote Working Condo,3464494,Hush Getaways,NaN,78703,30.268155,-97.752243,Entire home/apt,378,1,0,NaN,NaN,1,90
10342,50896809,East Austin Contemporary with Rooftop Lounge,18253226,Stay Local Austin,NaN,78702,30.275786,-97.721051,Entire home/apt,411,2,0,NaN,NaN,31,102
10349,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,Deacon,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

#### Slack: Show me all the Airbnb listings that have over 100 reviews and is available for more than 150 days per year!

# Practice ‚òÄÔ∏è

1. Return all the observations from the Airbnb DataFrame where the zip code is 78758

In [71]:
airbnb[airbnb['neighbourhood'] == 78758]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
10,47572,Cozy Home in N. Austin for Longer Stays,215917,Belinda,NaN,78758,30.377830,-97.707490,Private room,34,30,5,2021-03-28,0.18,1,195
486,1914023,Master bedroom with bathroom Queen,9927636,Anna,NaN,78758,30.381420,-97.700830,Private room,48,30,3,2016-03-17,0.14,4,323
817,4095705,3 bedroom/2 bath/Large Yard/Screened Patio,1840480,Scott & Sally,NaN,78758,30.354980,-97.709660,Entire home/apt,279,5,48,2021-05-30,0.84,11,297
1012,5116729,North Austin Condo,26441296,Alejandro,NaN,78758,30.370970,-97.713600,Private room,60,2,0,NaN,NaN,1,0
1272,5607191,SXSW 1bd/1ba Apt in North Austin!,29068246,Sarah,NaN,78758,30.356170,-97.714780,Entire home/apt,115,1,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10260,50785160,All-inclusive apartment home | 1BR in Austin,368944610,Carolyn,NaN,78758,30.400113,-97.724377,Entire home/apt,185,31,0,NaN,NaN,17,365
10261,50785161,All-inclusive apartment home | 2BR in Austin,368944610,Carolyn,NaN,78758,30.399676,-97.725993,Entire home/apt,216,31,0,NaN,NaN,17,365
10262,50785163,All-inclusive apartment home | 1BR in Austin,368944610,Carolyn,NaN,78758,30.399585,-97.725691,Entire home/apt,173,31,0,NaN,NaN,17,365
10300,50843606,The Bindel | Domain | Professionally Managed,106649223,The Bindel,NaN,78758,30.400420,-97.725980,Entire home/apt,108,30,0,NaN,NaN,27,85
10321,50867288,MaCa House,113123332,Cassy,NaN,78758,30.398683,-97.722983,Entire home/apt,229,3,0,NaN,NaN,2,25

2. Return all the observations from the airbnb DataFrame where the price is less than $200 and at least 100 reviews

In [74]:
cars = pd.read_csv("./datasets/cars.csv")

In [75]:
cars.head(3)

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [77]:
airbnb[(airbnb['price'] < 200) & (airbnb['number_of_reviews'] >= 100)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0
5,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,149,3,245,2021-05-21,2.04,1,145
12,57187,"Zilker Park, Fun, Funky, Colorful, Peaceful Haven",272156,Lois,NaN,78704,30.25756,-97.76995,Entire home/apt,100,1,777,2021-07-02,21.39,2,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8053,45145366,SoCo Casita,28305371,B,NaN,78704,30.24735,-97.76334,Entire home/apt,106,1,117,2021-06-24,20.53,1,103
8801,47953728,‚ú®Standard Double Room,386381014,Indigo Austin,NaN,78701,30.26991,-97.73726,Entire home/apt,131,1,141,2021-07-07,32.29,2,140
9143,48867010,‚ú® Classic King Room,386379154,Holiday Inn Express,NaN,78701,30.26839,-97.73619,Entire home/apt,116,1,141,2021-07-07,47.53,2,141
9144,48867186,‚ú® Standard Queen/Queen Room,386379154,Holiday Inn Express,NaN,78701,30.27038,-97.73737,Entire home/apt,116,1,120,2021-07-07,120.00,2,140
9146,48867583,‚ú® One King Bedroom Room,386381014,Indigo Austin,NaN,78701,30.26869,-97.73756,Entire home/apt,131,1,150,2021-07-07,150.00,2,132

3. Return all the columns from the Airbnb DataFrame as a list.

In [79]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

4. Use the shape attribute to return the number of rows from the airbnb DataFrame.

In [78]:
airbnb.shape[0]

10350

5. Change the index of the airbnb DataFrame to be the host ID column.

<a id='indexing'></a>

## Pandas Indexing: `.loc` and `.iloc`

---

So far we've learned how to select both rows and columns. The savvy and skeptical student would have noticed a problem here. We have ambiguous notation! What does this do:

```python
data[something]
```

We can't tell! Is `something` a mask or a string? One selects rows, the other selects columns. **What if we wanted to filter rows and select columns at the same time?!**

Pandas has two properties that you can use for indexing:

- **`.loc`** indexes with the _labels_ for rows and columns axis.
- **`.iloc`** indexes with the _integer positions_ for rows and columns axis.
> There used to be a third, `.ix` which is now deprecated and shan't ever be used again.

**Remember**:
- `.loc` = "Label"
- `.iloc` = "Location"

## `.loc`
The syntax of `.loc`:

```python
data.loc[rows, columns]
```

Where `rows` is often a filter (ie, a **mask**), and `columns` is a list of columns, or even just `:` to select all columns.

In [89]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0

In [81]:
airbnb.loc[:10, :]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
3,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
4,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0
5,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,149,3,245,2021-05-21,2.04,1,145
6,21126,Quiet Mid Century Modern Retreat with Patio an...,80406,Dani,NaN,78704,30.24417,-97.73988,Entire home/apt,202,1,123,2021-06-12,2.12,12,99
7,22166,Close in Hill country views NW,84906,Stacey,NaN,78759,30.38794,-97.76358,Entire home/apt,153,30,11,2021-01-10,0.08,1,225
8,22828,Garage Apartment near S Congress,56488,David,NaN,78741,30.23614,-97.73225,Entire home/apt,58,31,42,2021-06-01,0.32,1,207
9,40285,"OUTDOOR LIVING IN AUSTIN, TX",170787,Robbie,NaN,78731,30.35123,-97.76207,Entire home/apt,350,2,32,2021-04-18,0.30,1,249
10,47572,Cozy Home in N. Austin for Longer Stays,215917,Belinda,NaN,78758,30.37783,-97.70749,Private room,34,30,5,2021-03-28,0.18,1,195

In [88]:
airbnb.set_index('host_name', inplace = True)

KeyError: "None of ['host_name'] are in the columns"

In [90]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0

In [91]:
airbnb.loc['Shelby', :]

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Shelby,8190834,Master Bedroom in South Austin,15497096,NaN,78745,30.217190,-97.774480,Private room,115,4,0,NaN,NaN,1,0
Shelby,8609730,Townhouse off of South Congress,45294316,NaN,78745,30.207160,-97.775440,Entire home/apt,200,1,0,NaN,NaN,1,0
Shelby,10062315,#Locals,23262800,NaN,78704,30.258700,-97.759420,Entire home/apt,664,4,1,2016-03-17,0.02,2,13
Shelby,16238095,Family & pet friendly 4/2; 10 min. from downtown,23262800,NaN,78749,30.195190,-97.862830,Entire home/apt,144,30,39,2021-06-20,0.75,2,125
Shelby,35186114,Warm Rustic East Austin Bungalow minutes to DT,46472022,NaN,78721,30.274770,-97.682270,Entire home/apt,96,2,115,2021-06-15,6.14,1,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shelby,50896897,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448898,-97.784124,Entire home/apt,113,30,0,NaN,NaN,158,365
Shelby,50899168,Clean Apt | 1BR in Austin,359036978,NaN,78745,30.200281,-97.771380,Entire home/apt,115,30,0,NaN,NaN,158,365
Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365

In [85]:
airbnb.loc['Shelby', ['neighbourhood', 'room_type']]

           neighbourhood        room_type
host_name
Shelby             78745     Private room
Shelby             78745  Entire home/apt
Shelby             78704  Entire home/apt
Shelby             78749  Entire home/apt
Shelby             78721  Entire home/apt
...                  ...              ...
Shelby             78729  Entire home/apt
Shelby             78745  Entire home/apt
Shelby             78745  Entire home/apt
Shelby             78729  Entire home/apt
Shelby             78729  Entire home/apt

[164 rows x 2 columns]

In [86]:
airbnb.loc['Shelby', 'latitude':]

,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Shelby,30.217190,-97.774480,Private room,115,4,0,NaN,NaN,1,0
Shelby,30.207160,-97.775440,Entire home/apt,200,1,0,NaN,NaN,1,0
Shelby,30.258700,-97.759420,Entire home/apt,664,4,1,2016-03-17,0.02,2,13
Shelby,30.195190,-97.862830,Entire home/apt,144,30,39,2021-06-20,0.75,2,125
Shelby,30.274770,-97.682270,Entire home/apt,96,2,115,2021-06-15,6.14,1,23
...,...,...,...,...,...,...,...,...,...,...
Shelby,30.448898,-97.784124,Entire home/apt,113,30,0,NaN,NaN,158,365
Shelby,30.200281,-97.771380,Entire home/apt,115,30,0,NaN,NaN,158,365
Shelby,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
Shelby,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
Shelby,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365

In [87]:
airbnb.loc['Shelby', :'latitude']

,id,name,host_id,neighbourhood_group,neighbourhood,latitude
host_name,,,,,,
Shelby,8190834,Master Bedroom in South Austin,15497096,NaN,78745,30.217190
Shelby,8609730,Townhouse off of South Congress,45294316,NaN,78745,30.207160
Shelby,10062315,#Locals,23262800,NaN,78704,30.258700
Shelby,16238095,Family & pet friendly 4/2; 10 min. from downtown,23262800,NaN,78749,30.195190
Shelby,35186114,Warm Rustic East Austin Bungalow minutes to DT,46472022,NaN,78721,30.274770
...,...,...,...,...,...,...
Shelby,50896897,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448898
Shelby,50899168,Clean Apt | 1BR in Austin,359036978,NaN,78745,30.200281
Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,NaN,78745,30.181934
Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.447745
Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448854


According to **_The Zen of Python_**, explicit is better than implicit. `.loc` is explicit and performs more pedicatably than "just the brackets". When in doubt, use `.loc`!

### `.iloc` is less common, but useful
The `i` stands for "integer" and will give you the actual zero-indexed numerical indices.

Usage is very similar to `loc`.

In [92]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0

In [93]:
airbnb.iloc[:5]

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
Sylvia,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
Elizabeth,5769,NW Austin Room,8186,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
Todd,6413,Gem of a Studio near Downtown,13879,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0

In [94]:
airbnb.iloc[:5, 2:]

,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,
Paddy,2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51
Paddy,2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0
Sylvia,8028,NaN,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329
Elizabeth,8186,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,6.42,1,30
Todd,13879,NaN,78704,30.24885,-97.73587,Entire home/apt,104,30,117,2021-04-02,1.31,1,0

`iloc` is for numbers, `loc` is for names - is how I think of the distinction.

In [96]:
airbnb.tail()

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365
Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365
Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365
Dani,50901766,Mid-Century on a corner lot with fenced yard,80406,NaN,78704,30.241941,-97.742844,Entire home/apt,199,7,0,NaN,NaN,12,63
Deacon,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

Get the last five rows from the DataFrame using `.iloc`

In [95]:
airbnb.iloc[-5:, -1]

host_name
Shelby    365
Shelby    365
Shelby    365
Dani       63
Deacon     11
Name: availability_365, dtype: int64

#### How to filter using ```loc``` on the index?

In [97]:
airbnb.loc[airbnb.index == 'Deacon']

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Deacon,21489042,Ultra-Modern South Congress Townhouse,4912146,NaN,78704,30.238370,-97.760310,Entire home/apt,159,2,86,2021-06-18,2.58,20,320
Deacon,34400498,Lake Austin Cliffside Cabin w/hot tub close to DT,4912146,NaN,78746,30.299990,-97.788200,Entire home/apt,382,2,46,2021-04-18,1.77,20,15
Deacon,36204749,"The Flophouse: 4 bedrooms+ 8,000 Video Game Lo...",4912146,NaN,78751,30.304540,-97.724640,Entire home/apt,236,2,66,2021-06-13,3.57,20,216
Deacon,37860013,2 Bedroom Walk Up Downtown/UT steps to EVERYTHING,4912146,NaN,78705,30.289640,-97.746510,Entire home/apt,129,2,43,2021-06-10,15.36,20,330
Deacon,39833370,Garden Pad for 10+! Built for LOTS of FUN,4912146,NaN,78756,30.320130,-97.730870,Entire home/apt,260,2,42,2021-07-07,4.81,20,242
Deacon,40062894,LIVE IN COLOR! Sleep 14 + w/10beds &a private ...,4912146,NaN,78751,30.318390,-97.729390,Entire home/apt,276,2,44,2021-06-20,2.20,20,306
Deacon,41771363,"Lakeside in Austin's Hollywood Hills, 10 min t...",4912146,NaN,78746,30.300790,-97.790700,Entire home/apt,218,2,26,2021-05-23,1.57,20,107
Deacon,43628674,BoHo Chic SoCo Bungalow with a Backyard & Grill,4912146,NaN,78704,30.246810,-97.746280,Entire home/apt,170,2,30,2021-05-24,2.36,20,170
Deacon,43789137,Funhouse: 6 Bedroom w/13 beds + Video Game Lounge,4912146,NaN,78751,30.318370,-97.730710,Entire home/apt,266,2,16,2021-06-06,1.26,20,234
Deacon,43856586,"Basecamp: 4bedroom: Sleeps 10 & 8,000 Video G...",4912146,NaN,78751,30.319960,-97.728960,Entire home/apt,309,2,9,2021-06-28,0.71,20,207
Deacon,44573224,"Ultra Modern & FUN! 4 bedroom w/6 beds, Sleep 10",4912146,NaN,78705,30.290490,-97.748420,Entire home/apt,269,2,16,2021-06-13,1.61,20,17
Deacon,45163564,Cozy & Elegant: Cental 1Bed Sleeps 4 w/office ...,4912146,NaN,78705,30.290520,-97.748520,Entire home/apt,101,2,3,2021-06-21,1.05,20,2
Deacon,45742036,Loft on Guadalupe - UT & Downtown min away,4912146,NaN,78705,30.298800,-97.741590,Entire home/apt,210,2,6,2021-07-05,0.75,20,159
Deacon,47841881,SoCo: Ultra-Modern Townhouse ideal Austin Loca...,4912146,NaN,78704,30.237140,-97.759900,Entire home/apt,168,2,6,2021-04-23,1.13,20,177
Deacon,48024116,Ultra-Modern South Congress Townhouse: Work or...,4912146,NaN,78704,30.237550,-97.760050,Entire home/apt,144,2,7,2021-06-20,1.78,20,243
Deacon,48481179,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,NaN,78705,30.289000,-97.750670,Entire home/apt,156,2,9,2021-06-06,2.43,20,10
Deacon,50401537,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,NaN,78705,30.290683,-97.748631,Entire home/apt,157,2,0,NaN,NaN,20,13
Deacon,50730776,2-Level Penthouse : Communtiy Pool & Pool Table,4912146,NaN,78705,30.290850,-97.748820,Entire home/apt,290,2,0,NaN,NaN,20,9
Deacon,50752618,Hollywood Hills Shabby Chic Hideout +Amazing V...,4912146,NaN,78746,30.299360,-97.787540,Entire home/apt,145,2,0,NaN,NaN,20,162
Deacon,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11

In [ ]:
airbnb.loc

## Now you know how several ways to select rows and columns! üéâ

## Modifying a DataFrame
You've created DataFrames by reading in .csv files.

In [98]:
airbnb['Constant'] = 2

In [99]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant
host_name,,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51,2
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0,2

### Change the values in a column

Multiply `Constant` by 2

In [100]:
airbnb['Two x Two'] = airbnb['Constant'] * 2

In [101]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two
host_name,,,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51,2,4
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0,2,4

### Changing a single value a DataFrame
One way:

In [110]:
airbnb.iloc[2, 2] = '2466'

In [111]:
airbnb.iloc[2, 3] = 'Allandale'

In [112]:
airbnb.head(3)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two
host_name,,,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51,2,4
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0,2,4
Sylvia,5456,"Walk to 6th, Rainey St and Convention Ctr",2466,Allandale,78702,30.26057,-97.73441,Entire home/apt,126,2,560,2021-06-21,27.27,1,329,2,4

## Sorting

#### We can sort individual Series...

In [113]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two
host_name,,,,,,,,,,,,,,,,,
Paddy,2265,Zen-East in the Heart of Austin (monthly rental),2466,NaN,78702,30.27752,-97.71377,Entire home/apt,200,7,26,2021-07-02,0.38,3,51,2,4
Paddy,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,NaN,78702,30.27614,-97.71320,Private room,114,30,9,2017-02-24,0.22,3,0,2,4

#### Change the order

In [114]:
airbnb.loc[:, 'last_review'].sort_values()

host_name
Gloria    2012-03-13
D         2012-03-14
Mykel     2012-03-15
Amber     2012-03-18
Jai       2012-11-20
             ...
Shelby           NaN
Shelby           NaN
Shelby           NaN
Dani             NaN
Deacon           NaN
Name: last_review, Length: 10350, dtype: object

In [115]:
airbnb.loc[:, 'last_review'].sort_values(ascending = False)

host_name
Ann            2021-07-08
Marisa         2021-07-08
Cait & Joey    2021-07-08
Sessil         2021-07-08
Deanne         2021-07-08
                  ...
Shelby                NaN
Shelby                NaN
Shelby                NaN
Dani                  NaN
Deacon                NaN
Name: last_review, Length: 10350, dtype: object

#### Or sort the entire DataFrame

In [116]:
airbnb.sort_values(by = 'last_review', ascending = False)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two
host_name,,,,,,,,,,,,,,,,,
Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.211910,-97.811080,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,2,4
Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.308030,-97.652460,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,2,4
Cait & Joey,29015105,Modern ATX House - 10 Min to Downtown!,6256882,NaN,78752,30.326600,-97.697950,Entire home/apt,131,1,55,2021-07-08,1.64,1,98,2,4
Sessil,47952783,Tiny Home Extraordinaire | Stylish | Private,343836805,NaN,78745,30.213880,-97.813560,Entire home/apt,90,2,36,2021-07-08,7.71,15,94,2,4
Deanne,47784259,Lakeline Mall* Fast WiFi*Modern decor,83747773,NaN,78717,30.470640,-97.794790,Entire home/apt,150,1,15,2021-07-08,8.04,3,56,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,NaN,78745,30.181934,-97.777781,Entire home/apt,117,30,0,NaN,NaN,158,365,2,4
Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.447745,-97.783717,Entire home/apt,112,30,0,NaN,NaN,158,365,2,4
Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,NaN,78729,30.448854,-97.784034,Entire home/apt,119,30,0,NaN,NaN,158,365,2,4
Dani,50901766,Mid-Century on a corner lot with fenced yard,80406,NaN,78704,30.241941,-97.742844,Entire home/apt,199,7,0,NaN,NaN,12,63,2,4
Deacon,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,NaN,78705,30.290629,-97.750309,Entire home/apt,202,2,0,NaN,NaN,20,11,2,4

In [117]:
airbnb.sort_values(by = 'last_review', ascending = False, inplace = True)

In [118]:
airbnb.head(2)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two
host_name,,,,,,,,,,,,,,,,,
Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,2,4
Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,2,4

## Adding, Dropping, Renaming, and `inplace` Methods

#### Adding a column: just define it!

#### What if I wanted reviews per year instead of reviews per month?

In [119]:
airbnb.reset_index(inplace = True)

In [122]:
airbnb['reviews_per_year'] = airbnb['reviews_per_month'] * 12

In [123]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Constant,Two x Two,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,2,4,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,2,4,36.24

### Renaming Columns

#### Yuck - I hate spaces and capital letters ü§Æ

#### The `.rename` method

In [124]:
airbnb.rename(columns = {'Constant': 'constant', 'Two x Two': 'multiple_two'}, inplace = True)

In [125]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,constant,multiple_two,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,2,4,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,2,4,36.24

In [127]:
airbnb.drop(columns = ['constant', 'multiple_two'], inplace = True)

In [128]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

### Aside: `df.str. ` methods
There are a lot of familiar string operations we can perform on columns. 

Strangely, they exist within a pandas submodule and so have to be prefixed with `str`.

In [129]:
airbnb.columns

Index(['host_name', 'id', 'name', 'host_id', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'reviews_per_year'],
      dtype='object')

#### Uppercase column names

The "columns" attribute of a DataFrame works just like a numpy array or Pandas Series.

In [131]:
airbnb.columns.str.upper()

Index(['HOST_NAME', 'ID', 'NAME', 'HOST_ID', 'NEIGHBOURHOOD_GROUP',
       'NEIGHBOURHOOD', 'LATITUDE', 'LONGITUDE', 'ROOM_TYPE', 'PRICE',
       'MINIMUM_NIGHTS', 'NUMBER_OF_REVIEWS', 'LAST_REVIEW',
       'REVIEWS_PER_MONTH', 'CALCULATED_HOST_LISTINGS_COUNT',
       'AVAILABILITY_365', 'REVIEWS_PER_YEAR'],
      dtype='object')

In [132]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

In [134]:
airbnb.columns = airbnb.columns.str.upper()

In [135]:
airbnb.head(2)

,HOST_NAME,ID,NAME,HOST_ID,NEIGHBOURHOOD_GROUP,NEIGHBOURHOOD,LATITUDE,LONGITUDE,ROOM_TYPE,PRICE,MINIMUM_NIGHTS,NUMBER_OF_REVIEWS,LAST_REVIEW,REVIEWS_PER_MONTH,CALCULATED_HOST_LISTINGS_COUNT,AVAILABILITY_365,REVIEWS_PER_YEAR
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

In [136]:
airbnb.columns = airbnb.columns.str.lower()

In [137]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,Entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,Entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

#### Lowercase values in a column

In [138]:
airbnb['room_type'].str.lower()

0        entire home/apt
1        entire home/apt
2        entire home/apt
3        entire home/apt
4        entire home/apt
              ...
10345    entire home/apt
10346    entire home/apt
10347    entire home/apt
10348    entire home/apt
10349    entire home/apt
Name: room_type, Length: 10350, dtype: object

In [139]:
airbnb['room_type'] = airbnb['room_type'].str.lower()

In [140]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

## Missing Values

In [145]:
airbnb.isna()

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True
10346,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True
10347,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True
10348,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True
10349,False,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,True

In [146]:
airbnb.isna().sum()

host_name                            16
id                                    0
name                                  0
host_id                               0
neighbourhood_group               10349
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2406
reviews_per_month                  2406
calculated_host_listings_count        0
availability_365                      0
reviews_per_year                   2406
dtype: int64

In [147]:
airbnb.notna().sum()

host_name                         10334
id                                10350
name                              10350
host_id                           10350
neighbourhood_group                   1
neighbourhood                     10350
latitude                          10350
longitude                         10350
room_type                         10350
price                             10350
minimum_nights                    10350
number_of_reviews                 10350
last_review                        7944
reviews_per_month                  7944
calculated_host_listings_count    10350
availability_365                  10350
reviews_per_year                   7944
dtype: int64

In [150]:
airbnb.dropna()

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
2167,Sylvia,5456,"Walk to 6th, Rainey St and Convention Ctr",2466,Allandale,78702,30.26057,-97.73441,entire home/apt,126,2,560,2021-06-21,27.27,1,329,327.24

**Oops, I didn't mean to drop ALL records that had any null values in it! Are they gone?**

In [151]:
airbnb.head(3)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,NaN,78745,30.21191,-97.81108,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,NaN,78724,30.30803,-97.65246,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24
2,Cait & Joey,29015105,Modern ATX House - 10 Min to Downtown!,6256882,NaN,78752,30.32660,-97.69795,entire home/apt,131,1,55,2021-07-08,1.64,1,98,19.68

### We can fill in missing values

In [152]:
airbnb.fillna()

ValueError: Must specify a fill 'value' or 'method'.

In [153]:
airbnb.fillna(0)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,0,78745,30.211910,-97.811080,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,0,78724,30.308030,-97.652460,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24
2,Cait & Joey,29015105,Modern ATX House - 10 Min to Downtown!,6256882,0,78752,30.326600,-97.697950,entire home/apt,131,1,55,2021-07-08,1.64,1,98,19.68
3,Sessil,47952783,Tiny Home Extraordinaire | Stylish | Private,343836805,0,78745,30.213880,-97.813560,entire home/apt,90,2,36,2021-07-08,7.71,15,94,92.52
4,Deanne,47784259,Lakeline Mall* Fast WiFi*Modern decor,83747773,0,78717,30.470640,-97.794790,entire home/apt,150,1,15,2021-07-08,8.04,3,56,96.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10345,Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,0,78745,30.181934,-97.777781,entire home/apt,117,30,0,0,0.00,158,365,0.00
10346,Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,0,78729,30.447745,-97.783717,entire home/apt,112,30,0,0,0.00,158,365,0.00
10347,Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,0,78729,30.448854,-97.784034,entire home/apt,119,30,0,0,0.00,158,365,0.00
10348,Dani,50901766,Mid-Century on a corner lot with fenced yard,80406,0,78704,30.241941,-97.742844,entire home/apt,199,7,0,0,0.00,12,63,0.00
10349,Deacon,50903601,Poolside Fun close to Downtown Sleeps 8 w/6 beds,4912146,0,78705,30.290629,-97.750309,entire home/apt,202,2,0,0,0.00,20,11,0.00

In [154]:
airbnb['neighbourhood_group'].fillna("no_group", inplace = True)

In [155]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,no_group,78745,30.21191,-97.81108,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,no_group,78724,30.30803,-97.65246,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

In [163]:
airbnb['reviews_per_month'].fillna(airbnb['reviews_per_month'].mean())

0        13.000000
1         3.020000
2         1.640000
3         7.710000
4         8.040000
           ...
10345     2.485487
10346     2.485487
10347     2.485487
10348     2.485487
10349     2.485487
Name: reviews_per_month, Length: 10350, dtype: float64

## Exporting Data
We can read data, but how do we save it so we can send it out? pandas has several methods of the form `.to_*()`.

In [164]:
airbnb.to_csv('better_airbnb_listings.csv')

In [ ]:
airbnb.to

# Practice in GroupsüöÄ

With the diamonds dataset:

*Make sure to explore the data set with `info` and `describe` and `head` first!*

1. Return a count of each value of the clarity column.

In [141]:
diamonds = pd.read_csv("./datasets/diamonds.csv")

In [148]:
diamonds.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [143]:
diamonds.info

<bound method DataFrame.info of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>

In [144]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

2. Use `.loc[]` to select all the rows that have a clarity of VS1.

In [172]:
diamonds.loc[diamonds['clarity'] == 'VS1']

       carat        cut color clarity  depth  table  price     x     y     z
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
9       0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39
11      0.23      Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
22      0.23  Very Good     H     VS1   61.0   57.0    353  3.94  3.96  2.41
26      0.24    Premium     I     VS1   62.5   57.0    355  3.97  3.94  2.47
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53901   0.57    Premium     E     VS1   61.6   58.0   2753  5.36  5.33  3.29
53914   0.84       Good     I     VS1   63.7   59.0   2753  5.94  5.90  3.77
53918   0.76    Premium     I     VS1   59.3   62.0   2753  5.93  5.85  3.49
53922   0.70  Very Good     D     VS1   63.1   59.0   2755  5.67  5.58  3.55
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53

[8171 rows x 10 columns]

3. Use `.loc[]` to select all the rows that have a clarity of VS1 and a color of `E`.

In [ ]:
diamonds.loc[diamonds['clarity'] == 'VS1'] & diamonds['color'] == E]

4. Return the last two columns.

5. Return the first 15 rows and last two columns.

6. Return the number of null values in each column.

7. Drop the first row from the DataFrame.

8. Drop the column `carat` from the DataFrame

9. Rename the x,y, and z columns to x_axis, y_axis and z_axis to make it more legible to readers

## Some additional stuff:

### Filtering & Changing values

#### How do you select part of the dataframe where a condition is met and change those values?

In [167]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,no_group,78745,30.21191,-97.81108,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00
1,Marisa,40675868,Beautiful Eastside Home,5124147,no_group,78724,30.30803,-97.65246,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24

#### Creating a new column

In [168]:
airbnb['year_round'] = 'No'

In [169]:
airbnb.head(2)

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year,year_round
0,Ann,38432518,South Austin Oasis -Whole House Pool/HotTub,87824094,no_group,78745,30.21191,-97.81108,entire home/apt,393,3,13,2021-07-08,13.00,1,0,156.00,No
1,Marisa,40675868,Beautiful Eastside Home,5124147,no_group,78724,30.30803,-97.65246,entire home/apt,168,2,50,2021-07-08,3.02,1,283,36.24,No

In [170]:
airbnb.loc[airbnb['availability_365'] == 365]

,host_name,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_per_year,year_round
137,Chung-Fu,46338510,‚òº Work From Home in Style w/Japanese Lanterns ...,243684594,no_group,78704,30.237860,-97.784320,entire home/apt,110,1,13,2021-07-06,1.65,32,365,19.80,No
514,Courtland,48620566,"Relax, comfort, enjoy Atx",383239983,no_group,78717,30.479670,-97.769200,entire home/apt,240,2,7,2021-07-05,1.86,1,365,22.32,No
570,Teddy,48273574,"Close to Q2 Stadium &Domain, 2b house w/ a gazebo",11844619,no_group,78758,30.371760,-97.703570,entire home/apt,240,2,2,2021-07-05,0.49,1,365,5.88,No
788,Peter,49249948,4th July Golden Paradise 25 min West of Airport,5341252,no_group,78737,30.186840,-97.999090,private room,100,1,10,2021-07-04,3.61,3,365,43.32,No
2048,Chung-Fu,50311186,"üå∏ Sakura Retreat on Riverside üåπ Pool, Gym & Fa...",243684594,no_group,78741,30.239350,-97.732210,entire home/apt,168,1,1,2021-06-23,1.00,32,365,12.00,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10343,Shelby,50896897,Brilliant apartment home | 1BR in Austin,359036978,no_group,78729,30.448898,-97.784124,entire home/apt,113,30,0,NaN,NaN,158,365,NaN,No
10344,Shelby,50899168,Clean Apt | 1BR in Austin,359036978,no_group,78745,30.200281,-97.771380,entire home/apt,115,30,0,NaN,NaN,158,365,NaN,No
10345,Shelby,50899252,Stay in a place of your own | 1BR in Austin,359036978,no_group,78745,30.181934,-97.777781,entire home/apt,117,30,0,NaN,NaN,158,365,NaN,No
10346,Shelby,50899636,Brilliant apartment home | 1BR in Austin,359036978,no_group,78729,30.447745,-97.783717,entire home/apt,112,30,0,NaN,NaN,158,365,NaN,No
10347,Shelby,50899637,Brilliant apartment home | 1BR in Austin,359036978,no_group,78729,30.448854,-97.784034,entire home/apt,119,30,0,NaN,NaN,158,365,NaN,No

In [171]:
airbnb.loc[airbnb['availability_365'] == 365, 'year_round'] = 'Yes'

In [ ]:
airbnb_head(2)

#### To change an existing column

### Applying Functions to a DataFrame

In [173]:
df = pd.DataFrame([[9,25]] * 3, columns = ['P', 'Q'])

In [174]:
df

   P   Q
0  9  25
1  9  25
2  9  25

In [175]:
import numpy as np

In [176]:
df.apply(np.sqrt)

     P    Q
0  3.0  5.0
1  3.0  5.0
2  3.0  5.0

In [177]:
df['Q'].apply(np.sqrt)

0    5.0
1    5.0
2    5.0
Name: Q, dtype: float64

#### What about a custom function?

In [178]:
def custom_calc(num):
    return (num ** 2) + 5

In [179]:
df['P'].apply(custom_calc)

0    86
1    86
2    86
Name: P, dtype: int64

In [180]:
df

   P   Q
0  9  25
1  9  25
2  9  25

In [181]:
df['P'] = df['P'].apply(custom_calc)

In [182]:
df

    P   Q
0  86  25
1  86  25
2  86  25

<a id='review'></a>

### Review

Try to answer the questions below without going back and looking. 

---


- How can you slice a DataFrame? 
- How can you change the name of a column?
- How can you filter a DataFrame?